@import "variables";

// 404 Message
// ===================================
.message-404 {
  text-align: center;

  a {
    display: inline-block;
    margin: 0 20px;
    padding: 0 17px;
    height: 42px;
    border: 1px solid #D9D9D9;
    background-color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    font-family: proxima_novasemibold;
    line-height: 42px;

    &:hover{
      background: url(../images/button-hover.jpg) repeat-x;
      color: #fff;
    }
  }

  h2 {
    text-transform: uppercase;
    font-family: $main-font;
    font-size: 14px;
    margin: 15px 0 50px 0;
  }
}

