@import "variables";

// Sizes
// ===================================
.product-text {
  padding: 0 0 30px 0;
  text-align: center;

  h2 {
    margin-bottom: 10px;
    font-size: 20px;
    font-family: $ff1;
  }

  h4 {
    margin-bottom: 30px;
    background: url(../images/title-line.png) 0 50% repeat-x;
    font-size: 20px;
    font-family: $ff2;

    span {
      padding: 0 30px;
      background-color: #fff;
    }
  }

  h3 {
    font-size: 20px;
    font-family: $ff2;

    span {
      color: #80532B;
    }
  }

  p {
    margin-bottom: 20px;
    line-height: 1.5;

    span {
      color: #80532B;
    }

    a {
      color: #80532B;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.product-image {
  position: relative;
  margin-bottom: 40px;
  text-align: center;

  a {
    padding-top: 35px;
    text-decoration: none;
  }

  p {
    margin-bottom: 20px;
    color: #fff;
    font-size: 22px;
    font-family: $ff2;
  }

  > img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.about .heading {
  margin-bottom: 30px;
  text-align: center;

  h2 {
    margin-bottom: 30px;
    background: url(../images/title-line.png) 0 50% repeat-x;
    font-size: 20px;
    font-family: $ff2;

    span {
      padding: 0 30px;
      background-color: #fff;
    }
  }

  h1 {
    margin-bottom: 30px;
  }
}

.about-options {
  text-align: center;
}

.about-options a {
  display: inline-block;
  margin: 0 20px;
  padding: 0 17px;
  height: 42px;
  border: 1px solid #D9D9D9;
  background-color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  font-family: $main-font;
  line-height: 42px;

  &:hover{
    background: url(../images/button-hover.jpg) repeat-x;
    color: #fff;
  }
}
