@import "variables";

// Borders
// ===================================
.bd-vertical {
  position: relative;

  &:after,
  &:before {
    position: absolute;
    top: 0;
    bottom: 0;
    display: block;
    width: 1px;
    height: 100%;
    background: url(../images/separator.gif) 0 0 repeat-y;
    content: " ";
  }

  &:before {
    left: 0;
  }

  &:after {
    right: 0;
  }
}

.bd-horisontal {
  position: relative;

  &:after,
  &:before {
    position: absolute;
    right: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 1px;
    background: url(../images/bd-h.png) 0 0 repeat-x;
    content: " ";
  }

  &:before {
    top: 0;
  }

  &:after {
    bottom: 0;
  }
}

// Checkout Heading
// ===================================
.checkout-heading {
  text-align: center;
  h1 {
    position: relative;
    margin-bottom: 30px;
    font-size: 20px;
    line-height: 40px;

    &:before {
      position: absolute;
      top: -15px;
      left: 50%;
      display: block;
      margin-left: -16px;
      width: 32px;
      height: 1px;
      background: url(../images/dealers-h1.png) 0 0 no-repeat;
      content: " ";
    }
  }
}

// Checkout
// ===================================
.checkout-block {
  padding: 50px;

  table {
    width: 100%;
    font-family: $ff1;
    font-size: 14px;

    tr td {
      padding-bottom: 40px;
      padding-right: 50px;

      &:nth-child(1) {
        width: 50px;
      }

      &:nth-child(2) {
        width: 380px;
      }

      &:nth-child(3) {
        width: 220px;
        font-family: $main-font;
        font-size: 12px;
        text-transform: uppercase;

        span {
          font-family: $ff1;
          padding-right: 10px;
        }
      }

      &:nth-child(4) {
        font-family: $main-font;
        text-transform: uppercase;
        white-space: nowrap;

        span {
          font-family: $ff1;
          padding-right: 10px;
        }
      }

      &:last-child {
        padding-right: 0;
      }
    }
  }
}

.checkout-update {
  text-transform: uppercase;
  font-size: 12px;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.taxes {
  text-align: center;
  font-family: $main-font;
  font-size: 12px;
  padding: 30px 0;
}

.calculate-shipping {
  font-family: $ff1;
  padding: 50px;

  table {
    width: 100%;
    margin-top: 20px;

    td {
      font-family: $main-font;
    }

    td:first-child {
      font-size: 12px;
      font-family: $main-font;
    }

    td:last-child {
      text-align: right;
    }
  }

  p {
    text-transform: uppercase;
    font-size: 12px;
  }
  span {
    min-width: 90px;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 30px;
  }

  input[type="submit"] {
    text-transform: uppercase;
    border: 1px solid #D9D9D9;
    padding: 12px 17px;
    background-color: #fff;
    margin-bottom: 20px;
    width: 260px;
    letter-spacing: 3px;
    text-align: center;

    &:hover {
      background: url(../images/button-hover.jpg) repeat-x;
      color: #fff;
    }
  }

  input[type="text"] {
    background: url(../images/bd-h.png) 0 100% repeat-x;
    border: none;
    font-size: 12px;
    outline: none;
    width: 260px;
    padding: 10px 0;
    margin: 25px 0 40px;
  }

  input[type="radio"] {
    margin-bottom: 10px;
    margin-right: 15px;
  }

  input[type="checkbox"] {
    margin-left: 60px;
  }

  select {
      display: inline-block;
      margin: 0;
      padding: 10px 20px 10px 15px;
      outline: none;
      border: 1px solid #D9D9D9;
      text-transform: uppercase;
      font-family: $main-font;
      cursor: pointer;
      width: 260px;
    }

    label {
      position:relative;
      margin-right: 30px;
    }

    label:after {
      position: absolute;
      top: -11px;
      right: 5px;
      width: 40px;
      height: 37px;
      background: #fff url(../images/select.png) 50% 50% no-repeat;
      content:' ';
      pointer-events: none;
    }

    label:before {
      position: absolute;
      top: -11px;
      right: 5px;
      display:block;
      width: 40px;
      height: 37px;
      background-color: #fff;
      content:'';
      pointer-events: none;
    }

}

.contact-email {

  h3 {
    font-family: $ff1;
  }

  padding: 50px;

  h2 {
    font-family: $ff1;
    font-size: 14px;
    margin-bottom: 20px;
  }

  form {
    margin-top: 20px;
  }

  table {
    width: 100%;
    margin-top: 20px;

    td {
      width: 50%;
      vertical-align: top;
    }

    td:last-child {
      padding-left: 28px;
    }
  }

  label {
    width: 100%;
    margin-bottom: 30px;
    display: block;
    overflow: hidden;

    span {
      min-width: 150px;
      display: inline-block;
      text-transform: uppercase;
      line-height: 1.1;
      font-size: 12px;
      padding-top: 15px;
    }

    input[type="text"] {
      float: right;
    }
  }

  input[type="text"] {
    width: 260px;
    padding: 10px;
    height: 40px;
    border: 1px solid #DEDEDE;
  }

  input[type="checkbox"] {
    margin-left: 20px;
  }

  input[type="submit"] {
    display: inline-block;
    padding: 0 25px;
    height: 42px;
    line-height: 42px;
    text-decoration: none;
    border: 1px solid #D9D9D9;
    background-color: #fff;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 12px;
    font-family: $main-font;
    float: right;

    &:hover {
      background: url(../images/button-hover.jpg) repeat-x;
      color: #fff;
    }
  }
}

.calculate-shipping .agreement {
  font-size: 12px;
  text-transform: none;
}
