@import "../bower_components/susy/sass/susy";
@import "variables";

// ==============================================//
// Mobile styles                                 //
// ==============================================//
@include at-breakpoint(6 $mobile-view) {

  .product .rslides_tabs a {
    padding: 10px;
  }

  .product .rslides_here {

    a {
      background: url(../images/slider-circle.png) 50% 50% no-repeat;
    }
  }

  .product-sizes ul li {
    padding-bottom: 10px;
  }

  .product .slogan {
    margin-bottom: 10px;
  }

  .product-text {
    padding: 0;
  }

  .leather-options {
    margin-top: 30px;
  }

  .home .rslides_tabs {
    display: none;
  }

  header {
    padding-bottom: 20px;
  }

  .slogan {
    padding-top: 30px;
  }

  .m-menu-btn {
    display: inline-block;
  }

  .caption {
    display: none;
    padding-top: 30px;

    p,
    h3,
    .name {
      display: none;
    }

    h2 {
      font-size: 20px;
      font-family: $ff1;
    }

    a {
      text-decoration: none;
    }
  }

  .caption.here {
    display: block;
    clear: both;
    height: 50px;
    text-align: center;
  }

  .mobile-hide {
    display: none;
  }

  h1 {
    font-size: 20px;
  }

  .news h2 {
    font-size: 22px;
  }

  header {
    .header-col1,
    .header-col3 {
      background: none;
      text-align: center;
    }

    .header-col3 {
      position: relative;

      > p a {
        border: 0;
        background-color: transparent;
        color: transparent;
        text-shadow: none;
        font: 0/0 a;
      }

      span {
        color: #000;
        font-size: 11px;
      }

      > img:last-child {
        display: none;
      }
    }
  }

  // Menu
  .menu ul {
    display: none;
  }

  // News
  .home .news-block {

    .bx-wrapper {
      position: relative;
      float: left;
      padding: 0 10%;
      width: 100%;
      text-align: center;
      line-height: 1.5;
    }

    .bx-controls-direction {
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 48px;
      background: none;

      a {
        float: right;
        width: 15px;
        height: 30px;
        -webkit-background-size: cover;
        background-size: cover;

        &:first-child {
          float: left;
        }
      }

      .bx-next {
        background-position: 100% 0;
      }
    }
  }

  // Social
  .social {

    ul {
      width: 100%;
      text-align: center;

      li {
        margin-right: 55px;
      }
    }

    form {
      float: none;
      margin-top: 30px;
      width: 100%;
      text-align: center;

      label {
        display: block;
        float: none;
        font-size: 11px;
      }

      input[type="email"] {
        width: 60%;
      }

      input[type="submit"] {
        width: 40%;
      }
    }

    .group {
      margin: 0 auto;
      max-width: 580px;
    }
  }

  // Blocks
  .blocks table tr,
  .blocks table tr td {
    display: block;
  }

  .home .product-sizes {
    ul li img:last-child {
      display: none;
    }
  }

  .home .product-image a {
    padding-top: 10%;

    p {
      margin-bottom: 10px;
    }

    img {
      width: 60px;
      height: auto;
    }
  }

  .back {
    text-align: center;
  }

  .home .product-options form {
    label,
    button,
    select {
      display: block;
      margin-right: 0;
      margin-bottom: 20px;
      width: 100%;
      text-align: left;
      font-family: $main-font;
    }

    label:before,
    label:after {
      top: 2px;
    }
  }

  // About page
  .about .about-options a {
    display: block;
    margin: 2em 4%;
    width: 92%;
  }

  .social ul li {
    margin: 10px 25px;
  }

  // Spotlight inside page styles
  .inside .bx-controls {
    display: none;
  }

  .inside .leftWrapper {
    @include span-columns(3 omega, 3);
    margin-top: 40px;
    background: #231F20;
  }

  .inside .rightWrapper {
    @include span-columns(3 omega, 3);
  }

  // styles for news page
  .news .row .column img {
    max-width: 80%;
    height: auto;
  }

  .news .row .column .image {
    height: auto;
  }

    .cart-popup {
      max-width: 360px;
    }

  .faq-right label,
  .faq-right select,
  .products-right label,
  .products-right select {
    width: 100%;
    max-width: 372px;
  }

  .swag-products .header-col1 {
    visibility: hidden;
  }

  .swag-products .items,
  .products .items {

    .item {
      @include span-columns(2 omega, 2);
      text-align: center;

      &:nth-of-type(2n+2) {
        @include remove-omega;
      }

      table td {
        display: block;
        text-align: center;
        padding-bottom: 10px;

        &:last-child {
          text-align: center;
        }
      }

      table tr:last-child td:last-child img {
        float: none;
        text-align: center;
        display: inline-block;
      }
    }
  }

  .calculate-shipping {
    text-align: center;

    table td,
    table td:last-child {
      display: block;
      text-align: center;
    }

    label {
      margin-right: 0;
    }
  }

  .contact-email {
    text-align: center;

    table td {
      text-align: center;
    }

    label {
      margin-bottom: 0;
    }

    label span,
    label input[type="text"] {
      display: block;
      margin: 0 auto;
      float: none;
    }

    input[type="text"] {
      text-align: center;
    }

    label span {
      margin-bottom: 10px;
      white-space: nowrap;
    }

    input[type="submit"] {
      float: none;
      display: block;
      margin: 0 auto;
    }
  }

  .checkout .checkout-block table tr td {
    display: block;
    width: auto;
    padding: 10px;
  }

  .checkout .checkout-block table tr td:nth-child(1) {
    @include span-columns(2, 6);

    img {
      display: block;
      margin: 0 auto;
      width: 100%;
      height: auto;
      max-width: 47px;
    }

  }

  .checkout .checkout-block table tr td:nth-child(2) {
    @include span-columns(4 omega, 6);
  }

  .checkout .checkout-block table tr td:nth-child(3) {
    @include span-columns(2, 6);
    @include pre(2);
  }

  .checkout .checkout-block table tr td:nth-child(4) {
    @include span-columns(1, 6);
  }

  .checkout .checkout-block table tr td:nth-child(5) {
    @include span-columns(1 omega, 6);
  }

  .checkout .radios {
    left: 50%;
    text-align: left;
    margin-bottom: 10px;
    position: relative;
    margin-left: -90px;
  }

  .calculate-shipping input[type="radio"] {
    margin-bottom: 20px;
  }

  .mailing-list-message {
    form {
      padding-top: 30px;

      input[type="text"],
      input[type="submit"] {
        display: block;
        margin: 0 auto 20px auto;
      }
    }
  }

  .faq .text form {
    margin-top: 50px;

    .search-block {
      @include span-columns(6 omega, 6);
    }

    input[type="submit"] {
      display: none;
    }


  }
} // END of Mobile styles


// ==============================================//
// Tablet styles                                 //
// ==============================================//
@include at-breakpoint($mobile-view 6 $tablet-view) {
  .tablet-hide {
    display: none;
  }

  .menu {
    > ul > li {
      margin-right: 30px;
    }

    > ul > li:nth-child(4),
    > ul > li:nth-child(5),
    > ul > li:nth-child(6) {
      margin-left: 30px;
    }

    >ul > li > a {
      min-width: 50px;
    }

    // Submenu
    ul li ul {
      margin-left: -180px;
      width: 420px;

      li a {
        width: 138px;
      }
    }
  }

  // Social
  .social {
    form {
      input[type="email"] {
        width: 240px;
      }

      input[type="submit"] {
        width: 126px;
      }
    }

    .group {
      margin: 0 auto;
      max-width: 580px;
      width: 100%;
    }
  }

  .product-sizes {
    ul li img:last-child {
      display: none;
    }
  }

  //SC styles for Spotlight inside page
  .inside .leftWrapper {
    @include span-columns(3 omega, 3);
    margin-top: 40px;
    background: #231F20;

    img:first-child {
      float: left;
      width: 50%;
    }

    .description {
      float: right;
      width: 50%;
      img {
        float: none;
        width :auto;
      }
    }
  }

  .inside .rightWrapper {
    @include span-columns(3 omega, 3);
  }

  .faq-right .heading,
  .products-right {
    position: relative;

    form {
      position: absolute;
      top: -15px;
      right: 0;
      text-align: right;
    }
  }

 .products-right .items {
    margin-top: 70px;
  }

  .faq-right label,
  .faq-right select,
  .products-right label,
  .products-right select {
    min-width: 255px;
  }

  .faq .text {
    padding-left: 0;
  }
} // END of Tablet styles

// ==============================================//
// Mobile and tablet                             //
// ==============================================//
@include at-breakpoint(6 $tablet-view) {
  .cart-popup {
    max-width: auto;
    width: auto;
    left: auto;
    right: 0;

    table td {
      white-space: nowrap;
    }
  }

  .tablet-mobile-hide {
    display: none;
  }

  // Social
  .social {
    .social-col1,
    .social-col2 {
      @include span-columns(6 omega, 6);
    }

    ul {
      width: 100%;
      text-align: center;

      li {
        margin: 0 25px;
      }
    }

    form {
      float: none;
      margin-top: 30px;
      width: 100%;
      text-align: center;

      label {
        font-size: 11px;
      }
    }
  }

  .home .slider-wrapper .rslides li:nth-child(1),
  .home .slider-wrapper .rslides li:nth-child(3) {
    .caption {
      h2 {
        padding-top: 15px;
        font-size: 20px;
      }
    }
  }

  .home .slider-wrapper .rslides li:nth-child(2) {
    .caption {
      img {
        padding-top: 10px;
      }

      h2 {
        padding-top: 0;
        font-size: 20px;

        a {
          color: #fff;
        }
      }

      p {
        padding-top: 0;
      }
    }
  }

  .product .social {
    display: none;
  }

  // SC styles for news page
  .news .row {
    background: none;

    &:first-child .column {
      padding-top: 40px;
    }

    .column {
      @include span-columns(1 omega, 1);
      background: url(../images/bd-h.png) 0 100% repeat-x;
      text-align: center;

      a.button {
        display: inline-block;
        float: none;
      }

      &:last-child {
        @include span-columns(1 omega, 1);
      }
    }
  }

  .news .row .column.tablet-mobile-hide {
    display: none;
  }

  // Dealers page
  .dealers .row .column,
  .dealers .row .column:last-child {
    @include span-columns(1 omega, 1);
    background: none;
  }

  .dealers .row {
    padding-top: 30px;
    background: none;

    &:nth-of-type(2) .column {
      padding-top: 10px;
      background: url(../images/bd-h.png) 0 0 repeat-x;
    }

    &:last-of-type {
      background: url(../images/bd-h.png) 0 0 repeat-x;
    }

    .column {
      padding-bottom: 0;
    }
  }

  .swag-products-block {
    padding-top: 50px;
  }

  .products h1,
  .swag-products h1 {
    text-align: center;

     &:before {
      left: 50%;
      margin-left: -18px;
    }
  }

  .products-left {
    display: none;
  }

  .products-right,
  .swag-products-right {
    margin-left: 0;

    .items {
      padding-left: 0;
      background: none;
    }
  }

  .swag-products-left {
    text-align: center;
    width: 100%;
    padding: 0;
  }

  .checkout .contact-email table td {
    display: block;
    width: 100%;

    &:last-child {
      padding-left: 0;
      padding-top: 30px;
    }
  }

  .checkout .contact-email {
    text-align: center;
  }

  .faq-left {
    display: none;
  }

  .faq-right {
    width: 100%;
    margin-left: 0;

    h1:before {
      left: 50%;
      margin-left: -18px;
    }

    .text {
      background: none;
    }
  }

} // END of Mobile and Tablet styles

@include at-breakpoint(6 810px) {
  .home .rslides_tabs {
    display: none;
  }
}

// ==============================================//
// Tablet and Desktop                            //
// ==============================================//
@include at-breakpoint($mobile-view 6) {
  .product-image a {
    padding-top: 17%;
  }

  .desktop-tablet-hide {
    display: none;
  }

  .product .social {
    display: none;
  }

  .back-to-holdfast {
    display: none;
  }
} // END of Tablet and Desktop styles

// ==============================================//
// Desktop styles                                //
// ==============================================//
@include at-breakpoint($tablet-view 6) {
  .home .rslides_tabs {
    left: 50%;
    margin-left: -500px;
    width: 1000px;
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
  }

  .product-sizes {
    ul li {
      display: inline-block;
      padding: 0 15px;

      img:first-child {
        display: none;
      }
    }
  }

  .cart-popup {
    max-width: 360px;
  }

  .faq-right .heading,
  .products-right .heading {
    display: none;
  }
} // END of Desktop styles

// ==============================================//
// Other media                                   //
// ==============================================//
@include at-breakpoint(6 810px) {
  .home .rslides_tabs {
    display: none;
  }
}
