@import "../bower_components/susy/sass/susy";
@import "variables";

.news {
  h3 {
    padding-bottom: 20px;
    color: #80532b;
    font-size: 20px;
    font-family: $ff1;
  }

  p {
    margin-bottom: 20px;
    line-height: 1.5;

    span {
      color: #80532b;
    }

    a {
      color: #80532b;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.news .heading {
  text-align: center;

  h1 {
    font-size: 20px;
    position: relative;
    margin-bottom: 30px;

    &:before {
      content: " ";
      background: url(../images/dealers-h1.png) 0 0 no-repeat;
      width: 32px;
      height: 1px;
      display: block;
      position: absolute;
      top: -10px;
      left: 50%;
      margin-left: -18px;
    }
  }

  h2 {
    background: none;
    letter-spacing: 3px;
    font: 14px bebasregular;
    font-weight: normal;
  }
}

// News
// ===================================
.news-container {
  margin-top: 60px;
  padding: 0 0 30px 0;

  .row {
    @include container;
    background: url(../images/bd-h.png) 0 100% repeat-x;

    .column {
      @include span-columns(6, 14);
      padding-top: 60px;
      height: 364px;

      .text {
        overflow: hidden;
        height: 85px;
      }
    }

    &:first-child .column {
      padding-top: 0px;
      height: 324px;
    }

    &:last-child {
      background: none;
    }

    .column:last-child {
      @include span-columns(6 omega, 14);
    }

    .column:nth-child(2) {
      @include span-columns(2, 14);
      background: url(../images/separator.gif) repeat-y center;
    }
  }

  .image {
    margin-bottom: 20px;
    height: 74px;
  }

  .button {
    float: left;
    margin-top: 40px;
    padding: 12px 17px 0 17px;
    height: 42px;
    border: 1px solid #d9d9d9;
    background-color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    font-size: 12px;
    font-family: $main-font;

    &:hover {
      background: url(../images/button-hover.jpg) repeat-x;
      color: #fff;
    }
  }
}
