@import "../bower_components/susy/sass/susy";
@import "variables";

.product header {
  margin-bottom: 40px;
}

footer td {
  padding: 0 0 60px 0;
}

footer td a {
  text-decoration: none;
}

// Back to top
// ===================================
.back-to-top {
  position: relative;
  top: 50px;
  text-align: center;

  p {
    background: none;
  }

  a {
    display: inline-block;
    padding: 0 50px;
    background-color: #fff;
  }
}

// Content
// ===================================
.contentWrapper {
  @include container;
}

.leftWrapper {
  @include span-columns(1, 3);
  img {
    width: 100%;
    height: auto;
  }
}

.rightWrapper {
  @include span-columns(2 omega, 3);
  .product-image h2 {
    padding-bottom: 15px;
    color: #fff;
    letter-spacing: 7px;
    font: 26px bebasregular;
  }

  .product-image {
    margin-bottom: 10px;
  }

  .text {
    padding-top: 30px;
  }

  .bx-wrapper .bx-controls-direction a.bx-prev {
    position: absolute;
    top: 50%;
    left: -23px;
    z-index: 9999;
    margin-top: -5px;
    width: 7px;
    height: 13px;
    outline: 0;
    background: url(../images/leftArrow.gif) no-repeat;
    text-indent: -9999px;
  }

  .bx-wrapper .bx-controls-direction a.bx-next {
    position: absolute;
    top: 50%;
    right: -15px;
    z-index: 9999;
    margin-top: -5px;
    width: 7px;
    height: 13px;
    outline: 0;
    background: url(../images/rightArrow.gif) no-repeat;
    text-indent: -9999px;
  }
}

.description {
  padding: 40px 0;
  width: 100%;
  background: #231F20;
  color: #fff;
  text-align: center;

  img {
    width: auto;
    height: auto;
  }

  p {
    color: #fff;
  }

  ul {
    width: 100%;
    text-align: center;

    li {
      display: inline-block;
      padding: 10px 5px;
    }
  }

  h3 {
    padding-top: 20px;
    padding-bottom: 5px;
    font-size: 20px;
    font-family: bebasregular;
  }

  h4 {
    padding-top: 30px;
    padding-bottom: 10px;
    color: #AC815F;
    letter-spacing: 4px;
    font-size: 12px;
    font-family: bebasregular;
  }
}
