@import "variables";

.spotlight h1 {
  position: relative;
  margin-bottom: 50px;
  text-align: center;
  font-size: 20px;

  &:before {
    position: absolute;
    top: -10px;
    left: 50%;
    display: block;
    margin-left: -18px;
    width: 32px;
    height: 1px;
    background: url(../images/dealers-h1.png) 0 0 no-repeat;
    content: " ";
  }
}

// Spotlight Blocks
// ===================================
.spotlight .blocks table {

  &:first-of-type td:nth-child(3) a {
    padding-top: 180px;
  }

  &:first-of-type td:nth-child(1):hover a,
  &:first-of-type td:nth-child(2):hover a {
    padding-top: 180px;
  }

  &:nth-child(2n+2) td a {
    padding-top: 160px;
  }

  td {
    vertical-align: top;

    p {
      font-size: 20px;
      font-family: $ff2;
    }

    a {
      padding-top: 180px;
    }

    h2 {
      font-size: 24px;
      font-family: $ff1;
    }

    img {
      vertical-align: top;
    }
  }

}
